<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Recipe App{% endblock %}</title>
    <style src="../static/css/styles.css"></style>

</head>
<body>

<header>
    <h1>🍳 YumBook</h1>
    <nav>
        <a href="{% url 'recipe-list' %}">Home</a>
        <a href="{% url 'recipe-create' %}">Add Recipe</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>
