{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <h2>Login</h2>

    {% if form.errors %}
        <p style="color:#DC2626; background:#FEE2E2; padding:0.5rem; border-radius:5px;">
            Invalid username or password. Please try again.
        </p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Login</button>
    </form>

    <p style="margin-top: 1rem; text-align:center;">
        Don’t have an account? <a href="{% url 'signup' %}" style="color: var(--primary); text-decoration: none;">Sign up</a>
    </p>
</div>
{% endblock %}
